@model AddCarFormModel
@{
    ViewData["Title"] = "Add Car";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
            <h1 class="text-center">Add Car</h1>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Brand"></label>
                    <input asp-for="Brand" class="form-control" placeholder="Brand">
                    <span asp-validation-for="Brand" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model"></label>
                    <input asp-for="Model" class="form-control" placeholder="Model">
                    <span asp-validation-for="Model" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Image URL">
                    <span asp-validation-for="ImageUrl" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control" placeholder="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control" placeholder="@DateTime.UtcNow.Year">
                    <span asp-validation-for="Year" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId"></label>
                    <select asp-for="CategoryId" class="form-control">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger small"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="Save Car" />
            </form>
        </div>
    </div>
</div>